.head {
    padding: 0 50px;
    margin-bottom: 0 !important;
}

.body {
    position: relative;
    display: flex;
    min-height: 100vh;
}

.container {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.body::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}


.head-button {
    display: flex;
    justify-content: end;
}

@media (max-width: 300px) {
    .head-button {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
    }
    .logout_form, .btn {
        margin-bottom: 10px;
    }
}

#exit-btn {
    margin-right: 12px;
}

.card {
    min-height: 185px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
