.head {
    padding: 0 50px;
    margin-bottom: 0 !important;
}

.body {
    position: relative;
    height: 100vh;
}

.body::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    background-image: url(../../media/background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.container {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

.head-button {
    display: flex;
    justify-content: end;
}

#exit-btn {
    margin-right: 12px;
}