.form-article p {
    margin-bottom: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

p {
    margin-left: 13px;
    width: 30%;
    height: 50px;
    font-size: 16px;
    margin-bottom: 60px !important;
}

.form-article p:nth-of-type(2) {
    width: inherit;
    height: inherit;
    margin-bottom: 34px !important;
}

.form-article p:nth-of-type(3) {
    height: 80px;
    margin-bottom: 30px !important;
}

.form-login .btn-primary {
    margin-top: 20px;
    font-size: 16px;
}

p input[type="text"], p input[type="password"], #id_article {
    margin-top: 20px;
    width: 100%;
}

#id_abstract {
    margin-top: 20px;
    width: 30%;
}

@media (max-width: 767.98px) {
    #id_abstract {
        width: 98%;
    }
    p {
        width: 96%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #id_abstract, p {
        width: 45%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #id_abstract, p {
        width: 60%;
    }
}

h1 {
    padding-bottom: 20px;
}