.elibrary_container {
    background-color: rgb(0, 0, 0, 0);
}

.page-title {
    text-align: center;
    padding: 30px 0 0 0;
}

.btn .hover-text {
    display: none;
}

.btn:hover .original-text {
    display: none;
}

.btn:hover .hover-text {
    display: inline;
}

.d-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
}

.search-form label, .search-form button, #keywords_input {
    margin-top: 15px;
}

.search-line, #keywords_input {
    width: 30%;
}

#keywords_input input {
    width: 100%;
}

.step-links a {
    text-decoration: none;
    color: var(--bs-body-color);
    margin: 0 5px;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
}

.step-links {
    margin-bottom: 20px;
}

.step-links a:hover {
    text-decoration: none;
    color: white;
}

.album {
    width: 100%;
    box-sizing: border-box;
}

.current {
    color: ;
}

.date_and_download {
    display: flex;
    justify-content: space-between;
}

.date_and_download p {
    font-size: 13px;
}

.card {
    min-height: 220.5px;
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .menu-table {
        display: flex;
        flex-direction: column;
    }
    .date_and_download p {
        margin-top: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .card {
        min-height: 244.5px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .card {
        min-height: 356.5px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card {
        min-height: 455px;
    }
}

@media (min-width: 540px) and (max-width: 768.98px) {
    .card {
        min-height: 404.5px;
    }
}

@media (max-width: 390px) {
    .menu-table {
        display: flex;
        flex-direction: column;
    }
    .date_and_download p {
        margin-top: 15px;
    }
}

