{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Статья
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}

<style>
    .article_name {
        margin: 30px 0 30px 15px;
    }

    .content {
        margin-left: 15px;
    }

    .article-btn {
        margin: 30px 0 0 5px;
    }

    .download-btn {
        margin-left: 15px;
    }
</style>

{% if object.is_active and object.author.is_active %}
<h1 class="article_name">{{ object.title }}</h1>
<p class="content">Аннотация: {{ object.abstract }}</p>
<p class="content">Ключевые слова:</p>
<ul class="content">
    {% for keyword in object.keywords.all %}
        <li>
            <a href="{% url 'library' %}?query={{ keyword.word }}">{{ keyword.word }}</a>
        </li>
    {% endfor %}
</ul>
<a href="/profile/{{ object.author.id }}">
    <p class="content">Автор: {{ object.author.fullname }}</p></a>
<p class="content">Количество просмотров: {{ object.views }}</p>
<p class="content">Количество загрузок: {{ object.downloads }}</p>
<p class="content">Дата публикации: {{ object.date_created|date }}</p>
{% if user.is_authenticated %}
<a href="/library/{{ object.slug }}/download">
    <button type="button" class="btn btn-primary article-btn download-btn">Скачать</button></a>
{% if user.id == article.author.id or user.role == 3 %}
                                <a href="/library/{{ article.slug }}/update">
                                <button type="button"
                                        class="btn btn-primary article-btn">
                                    Редактировать
                                </button></a>
                                <a href="/library/{{ article.slug }}/delete">
                                <button type="button"
                                        class="btn btn-primary article-btn">
                                    Удалить
                                </button></a>
                                {% endif %}

{% endif %}
{% else %}
<h1>Статья ещё не прошла модерацию или её владелец был заблокирован/удалил свой аккаунт</h1>
{% endif %}
{% endblock %}
