{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Редактирование статьи
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'media/logo.png' %}" alt=""
         width="60" height="60">
    {% if user.id == object.author.id or user.role == 3 %}
    <h1 class="h3 mb-3 fw-normal">Редактирование статьи</h1>
    {{ form.as_p }}
    <button class="btn btn-primary w-100 py-2" type="submit" value="Save">
        Редактировать статью
    </button>
    {% else %}
    <h1>Статью может редактировать только её авторизированный владелец или админ!</h1>
    {% endif %}
</form>
{% endblock %}